button.nav-button {
  background-color: #222;
  border: none;
  outline: none;
  margin: 0.5rem;
}
.navbar, .navbar-inverse{
  background-color: #222;
  border-bottom: 1px solid #e5e5e5;
}
.navbar-nav {
  padding: 1rem;
}
.npr-orange{
  color: #f15c22 !important;
}

.npr-blue {
  color: #4e84c4 !important;
  /* color: rgb(85, 85, 85); */
}

.navContainer {
	overflow: hidden;
	position: relative;
}

p.donate {
  color: #4e84c4;
  text-decoration: underline;
}


