article {
  /* border: 1px solid #e5e5e5; */
  min-height: 100%;
  margin-bottom: 1rem;
  
}
.category-wrapper {
  position: relative;
  width: 100%;
}
ul.category-list {
  list-style: none;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap; 
  margin-bottom: 2rem;
  padding-left: 0;
  width: 99.5%; /* 99.5 because at 100%, the list seems to extend a bit past the edge,
                  leaving a small 1px sliver that isn't covered by the gradient div */
}

.gradient {
  position: absolute;
  background: linear-gradient(to right, rgba(34, 34, 34, 0), rgba(34, 34, 34, 1));
  height: 100%;
  width: 20px;
  top: 0;
  right: 0;
  content: ' ';
}

::-webkit-scrollbar {
  width: 0px;  
  background: transparent;
}
li.categories {
  font-size: 2rem;
  margin-right: 2rem;
  display: inline-block;
  text-decoration: none;
}

button.categories {
  color: #e5e5e5;
  background-color: #4e84c4;
  border-radius: 10px;
  border: none;
  outline: none;
}

button.selected {
  color: #4e84c4;
  background-color: #e5e5e5;
}


p, h3 {
  color: #e5e5e5;
}

h3.title {
  margin-top: 0;
}

p.caption {
  color: grey;
  text-align: center;
}

.article {
  border: 2px solid #4e84c4;
  padding: 0.75rem;
}

.image-wrapper {
  margin: 0;
  padding: 0;
}

.article-img{
  width: 300px;
  height: 168px;
  display: block;
  margin: auto;
}



@media (max-width: 768px) { 
  p.caption {
    display: none;
  }
 }